/* Login page */
.login-container {
    width: 100%;
}

.login-box {
    width: 350px;
}

/* alert */
.myalert {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 320px;
    overflow-y: auto;
    z-index: 100;
}

/* Navigation */
/* .nav-link {
    padding: 4px;
} */
.navbar .nav-link,
.navbar-brand,
.nav-item {
    color: white;
}

.navbar .nav-link:hover,
.navbar-brand:hover {
    color: white;
    background-color: teal;
}

.navbar-brand:focus {
    color: white;
}

.profile-img {
    width: 28px;
}

.font-small {
    font-size: small;
}

.user-nav {
    min-width: 150px;
    /* max-width: 150px; */
}

/* 
.user-nav-list {
    max-width: 150px;
} */

/* Background Color */
.bg-teal {
    background-color: #4FA095;
}

.bg-yellow {
    background-color: #FFE9B1;
}

.bg-red {
    background-color: #FF5D5D;
}

.bg-blue {
    background-color: #17A2B8;
}

/* Home Menu */
.home-search {
    height: 100px;
}

.home-icon {
    height: 72px;
    margin-bottom: 10px;
}

.link-home-icon:hover>.home-icon {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 2px 4px 8px;
}

.bg-home {
    background-color: teal;
    background: url('../images/home-background.jpg') no-repeat 0 0 fixed;
}

/* .container .row .col-md-2 {
    border: 1px solid grey;
} */

/* Table */
table thead {
    font-size: 12px;
    font-weight: bold;
    color: #6b6b6e;
}

table thead td {
    padding: 12px !important;
}

.table-striped tbody td {
    font-size: 12px;
    color: grey !important;
}