{% extends 'base.html' %}

{% block title %}
This is Index
{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
<!-- Content -->
<div class="container-fluid col-md-12 p-0">
    <div class="row align-items-start p-3 border-bottom pe-0 me-0">
        <div class="col-md-6">
            Nama Menu
        </div>
        <div class="col-md-6">
            One of three columns
        </div>
    </div>
    <div class="row justify-content-center me-0">
        <div class="col-md-8 border shadow mt-3 p-3">
            tes
        </div>
    </div>
</div>
{% endblock %}